html {
  font-family: georgia, serif;
}

body {
  background-color: #495562;
}

h1,
p{
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

.btn:hover {
  color: rgba(73, 85, 98, 1);
  border-color: #fff;
  background-color: #fff;
}
